In [1]:
lenFragment = 1000
genomeFragmentList = []
fileName = "Deinococcus_radiodurans_R1dM1_genome.fasta"#"Vibrio_cholerae_MS6_genome.fna"#"Hodgkinia_cicadicola_tetund1_genome.fasta"#"Staph_argenteus_58113_genome.fasta"
with open(fileName) as file:
    fragment = ""
    print(file.readline())
    for line in file.readlines():
        line = line.rstrip().upper()
        #print(line)
        if len(fragment) < lenFragment:
            pass
        else:
            genomeFragmentList.append(fragment[:lenFragment])
            fragment = fragment[lenFragment:]
        
        try:
            if line[0] == '>':
                print(line)
                break
            else:
                fragment += line
        except IndexError:
            print(line)
print(len(genomeFragmentList))

>NZ_CP031500.1 Deinococcus radiodurans strain R1 dM1 chromosome I, complete sequence


2647

In [2]:
exampleSequence = 'AGGGCTTGCTATAT'
tetramerDicRepository = {key:[] for key in ['AAAA', 'AAAC', 'AAAG', 'AAAT', 'AACA', 'AACC', 'AACG', 'AACT', 'AAGA', 'AAGC', 'AAGG', 'AAGT', 'AATA', 'AATC', 'AATG', 'AATT', 'ACAA', 'ACAC', 'ACAG', 'ACAT', 'ACCA', 'ACCC', 'ACCG', 'ACCT', 'ACGA', 'ACGC', 'ACGG', 'ACGT', 'ACTA', 'ACTC', 'ACTG', 'ACTT', 'AGAA', 'AGAC', 'AGAG', 'AGAT', 'AGCA', 'AGCC', 'AGCG', 'AGCT', 'AGGA', 'AGGC', 'AGGG', 'AGGT', 'AGTA', 'AGTC', 'AGTG', 'AGTT', 'ATAA', 'ATAC', 'ATAG', 'ATAT', 'ATCA', 'ATCC', 'ATCG', 'ATCT', 'ATGA', 'ATGC', 'ATGG', 'ATGT', 'ATTA', 'ATTC', 'ATTG', 'ATTT', 'CAAA', 'CAAC', 'CAAG', 'CAAT', 'CACA', 'CACC', 'CACG', 'CACT', 'CAGA', 'CAGC', 'CAGG', 'CAGT', 'CATA', 'CATC', 'CATG', 'CATT', 'CCAA', 'CCAC', 'CCAG', 'CCAT', 'CCCA', 'CCCC', 'CCCG', 'CCCT', 'CCGA', 'CCGC', 'CCGG', 'CCGT', 'CCTA', 'CCTC', 'CCTG', 'CCTT', 'CGAA', 'CGAC', 'CGAG', 'CGAT', 'CGCA', 'CGCC', 'CGCG', 'CGCT', 'CGGA', 'CGGC', 'CGGG', 'CGGT', 'CGTA', 'CGTC', 'CGTG', 'CGTT', 'CTAA', 'CTAC', 'CTAG', 'CTAT', 'CTCA', 'CTCC', 'CTCG', 'CTCT', 'CTGA', 'CTGC', 'CTGG', 'CTGT', 'CTTA', 'CTTC', 'CTTG', 'CTTT', 'GAAA', 'GAAC', 'GAAG', 'GAAT', 'GACA', 'GACC', 'GACG', 'GACT', 'GAGA', 'GAGC', 'GAGG', 'GAGT', 'GATA', 'GATC', 'GATG', 'GATT', 'GCAA', 'GCAC', 'GCAG', 'GCAT', 'GCCA', 'GCCC', 'GCCG', 'GCCT', 'GCGA', 'GCGC', 'GCGG', 'GCGT', 'GCTA', 'GCTC', 'GCTG', 'GCTT', 'GGAA', 'GGAC', 'GGAG', 'GGAT', 'GGCA', 'GGCC', 'GGCG', 'GGCT', 'GGGA', 'GGGC', 'GGGG', 'GGGT', 'GGTA', 'GGTC', 'GGTG', 'GGTT', 'GTAA', 'GTAC', 'GTAG', 'GTAT', 'GTCA', 'GTCC', 'GTCG', 'GTCT', 'GTGA', 'GTGC', 'GTGG', 'GTGT', 'GTTA', 'GTTC', 'GTTG', 'GTTT', 'TAAA', 'TAAC', 'TAAG', 'TAAT', 'TACA', 'TACC', 'TACG', 'TACT', 'TAGA', 'TAGC', 'TAGG', 'TAGT', 'TATA', 'TATC', 'TATG', 'TATT', 'TCAA', 'TCAC', 'TCAG', 'TCAT', 'TCCA', 'TCCC', 'TCCG', 'TCCT', 'TCGA', 'TCGC', 'TCGG', 'TCGT', 'TCTA', 'TCTC', 'TCTG', 'TCTT', 'TGAA', 'TGAC', 'TGAG', 'TGAT', 'TGCA', 'TGCC', 'TGCG', 'TGCT', 'TGGA', 'TGGC', 'TGGG', 'TGGT', 'TGTA', 'TGTC', 'TGTG', 'TGTT', 'TTAA', 'TTAC', 'TTAG', 'TTAT', 'TTCA', 'TTCC', 'TTCG', 'TTCT', 'TTGA', 'TTGC', 'TTGG', 'TTGT', 'TTTA', 'TTTC', 'TTTG', 'TTTT']}
tetramerDic = {key:0 for key in ['AAAA', 'AAAC', 'AAAG', 'AAAT', 'AACA', 'AACC', 'AACG', 'AACT', 'AAGA', 'AAGC', 'AAGG', 'AAGT', 'AATA', 'AATC', 'AATG', 'AATT', 'ACAA', 'ACAC', 'ACAG', 'ACAT', 'ACCA', 'ACCC', 'ACCG', 'ACCT', 'ACGA', 'ACGC', 'ACGG', 'ACGT', 'ACTA', 'ACTC', 'ACTG', 'ACTT', 'AGAA', 'AGAC', 'AGAG', 'AGAT', 'AGCA', 'AGCC', 'AGCG', 'AGCT', 'AGGA', 'AGGC', 'AGGG', 'AGGT', 'AGTA', 'AGTC', 'AGTG', 'AGTT', 'ATAA', 'ATAC', 'ATAG', 'ATAT', 'ATCA', 'ATCC', 'ATCG', 'ATCT', 'ATGA', 'ATGC', 'ATGG', 'ATGT', 'ATTA', 'ATTC', 'ATTG', 'ATTT', 'CAAA', 'CAAC', 'CAAG', 'CAAT', 'CACA', 'CACC', 'CACG', 'CACT', 'CAGA', 'CAGC', 'CAGG', 'CAGT', 'CATA', 'CATC', 'CATG', 'CATT', 'CCAA', 'CCAC', 'CCAG', 'CCAT', 'CCCA', 'CCCC', 'CCCG', 'CCCT', 'CCGA', 'CCGC', 'CCGG', 'CCGT', 'CCTA', 'CCTC', 'CCTG', 'CCTT', 'CGAA', 'CGAC', 'CGAG', 'CGAT', 'CGCA', 'CGCC', 'CGCG', 'CGCT', 'CGGA', 'CGGC', 'CGGG', 'CGGT', 'CGTA', 'CGTC', 'CGTG', 'CGTT', 'CTAA', 'CTAC', 'CTAG', 'CTAT', 'CTCA', 'CTCC', 'CTCG', 'CTCT', 'CTGA', 'CTGC', 'CTGG', 'CTGT', 'CTTA', 'CTTC', 'CTTG', 'CTTT', 'GAAA', 'GAAC', 'GAAG', 'GAAT', 'GACA', 'GACC', 'GACG', 'GACT', 'GAGA', 'GAGC', 'GAGG', 'GAGT', 'GATA', 'GATC', 'GATG', 'GATT', 'GCAA', 'GCAC', 'GCAG', 'GCAT', 'GCCA', 'GCCC', 'GCCG', 'GCCT', 'GCGA', 'GCGC', 'GCGG', 'GCGT', 'GCTA', 'GCTC', 'GCTG', 'GCTT', 'GGAA', 'GGAC', 'GGAG', 'GGAT', 'GGCA', 'GGCC', 'GGCG', 'GGCT', 'GGGA', 'GGGC', 'GGGG', 'GGGT', 'GGTA', 'GGTC', 'GGTG', 'GGTT', 'GTAA', 'GTAC', 'GTAG', 'GTAT', 'GTCA', 'GTCC', 'GTCG', 'GTCT', 'GTGA', 'GTGC', 'GTGG', 'GTGT', 'GTTA', 'GTTC', 'GTTG', 'GTTT', 'TAAA', 'TAAC', 'TAAG', 'TAAT', 'TACA', 'TACC', 'TACG', 'TACT', 'TAGA', 'TAGC', 'TAGG', 'TAGT', 'TATA', 'TATC', 'TATG', 'TATT', 'TCAA', 'TCAC', 'TCAG', 'TCAT', 'TCCA', 'TCCC', 'TCCG', 'TCCT', 'TCGA', 'TCGC', 'TCGG', 'TCGT', 'TCTA', 'TCTC', 'TCTG', 'TCTT', 'TGAA', 'TGAC', 'TGAG', 'TGAT', 'TGCA', 'TGCC', 'TGCG', 'TGCT', 'TGGA', 'TGGC', 'TGGG', 'TGGT', 'TGTA', 'TGTC', 'TGTG', 'TGTT', 'TTAA', 'TTAC', 'TTAG', 'TTAT', 'TTCA', 'TTCC', 'TTCG', 'TTCT', 'TTGA', 'TTGC', 'TTGG', 'TTGT', 'TTTA', 'TTTC', 'TTTG', 'TTTT']}
import time

In [3]:
begin = time.time()
print('hello1')
for n, fragment in enumerate(genomeFragmentList):
    tetramerDic = {key:0 for key in ['AAAA', 'AAAC', 'AAAG', 'AAAT', 'AACA', 'AACC', 'AACG', 'AACT', 'AAGA', 'AAGC', 'AAGG', 'AAGT', 'AATA', 'AATC', 'AATG', 'AATT', 'ACAA', 'ACAC', 'ACAG', 'ACAT', 'ACCA', 'ACCC', 'ACCG', 'ACCT', 'ACGA', 'ACGC', 'ACGG', 'ACGT', 'ACTA', 'ACTC', 'ACTG', 'ACTT', 'AGAA', 'AGAC', 'AGAG', 'AGAT', 'AGCA', 'AGCC', 'AGCG', 'AGCT', 'AGGA', 'AGGC', 'AGGG', 'AGGT', 'AGTA', 'AGTC', 'AGTG', 'AGTT', 'ATAA', 'ATAC', 'ATAG', 'ATAT', 'ATCA', 'ATCC', 'ATCG', 'ATCT', 'ATGA', 'ATGC', 'ATGG', 'ATGT', 'ATTA', 'ATTC', 'ATTG', 'ATTT', 'CAAA', 'CAAC', 'CAAG', 'CAAT', 'CACA', 'CACC', 'CACG', 'CACT', 'CAGA', 'CAGC', 'CAGG', 'CAGT', 'CATA', 'CATC', 'CATG', 'CATT', 'CCAA', 'CCAC', 'CCAG', 'CCAT', 'CCCA', 'CCCC', 'CCCG', 'CCCT', 'CCGA', 'CCGC', 'CCGG', 'CCGT', 'CCTA', 'CCTC', 'CCTG', 'CCTT', 'CGAA', 'CGAC', 'CGAG', 'CGAT', 'CGCA', 'CGCC', 'CGCG', 'CGCT', 'CGGA', 'CGGC', 'CGGG', 'CGGT', 'CGTA', 'CGTC', 'CGTG', 'CGTT', 'CTAA', 'CTAC', 'CTAG', 'CTAT', 'CTCA', 'CTCC', 'CTCG', 'CTCT', 'CTGA', 'CTGC', 'CTGG', 'CTGT', 'CTTA', 'CTTC', 'CTTG', 'CTTT', 'GAAA', 'GAAC', 'GAAG', 'GAAT', 'GACA', 'GACC', 'GACG', 'GACT', 'GAGA', 'GAGC', 'GAGG', 'GAGT', 'GATA', 'GATC', 'GATG', 'GATT', 'GCAA', 'GCAC', 'GCAG', 'GCAT', 'GCCA', 'GCCC', 'GCCG', 'GCCT', 'GCGA', 'GCGC', 'GCGG', 'GCGT', 'GCTA', 'GCTC', 'GCTG', 'GCTT', 'GGAA', 'GGAC', 'GGAG', 'GGAT', 'GGCA', 'GGCC', 'GGCG', 'GGCT', 'GGGA', 'GGGC', 'GGGG', 'GGGT', 'GGTA', 'GGTC', 'GGTG', 'GGTT', 'GTAA', 'GTAC', 'GTAG', 'GTAT', 'GTCA', 'GTCC', 'GTCG', 'GTCT', 'GTGA', 'GTGC', 'GTGG', 'GTGT', 'GTTA', 'GTTC', 'GTTG', 'GTTT', 'TAAA', 'TAAC', 'TAAG', 'TAAT', 'TACA', 'TACC', 'TACG', 'TACT', 'TAGA', 'TAGC', 'TAGG', 'TAGT', 'TATA', 'TATC', 'TATG', 'TATT', 'TCAA', 'TCAC', 'TCAG', 'TCAT', 'TCCA', 'TCCC', 'TCCG', 'TCCT', 'TCGA', 'TCGC', 'TCGG', 'TCGT', 'TCTA', 'TCTC', 'TCTG', 'TCTT', 'TGAA', 'TGAC', 'TGAG', 'TGAT', 'TGCA', 'TGCC', 'TGCG', 'TGCT', 'TGGA', 'TGGC', 'TGGG', 'TGGT', 'TGTA', 'TGTC', 'TGTG', 'TGTT', 'TTAA', 'TTAC', 'TTAG', 'TTAT', 'TTCA', 'TTCC', 'TTCG', 'TTCT', 'TTGA', 'TTGC', 'TTGG', 'TTGT', 'TTTA', 'TTTC', 'TTTG', 'TTTT']}
    #print('hello')
    for pos in range(0,len(fragment)-3):
        tetramer = fragment[pos:pos+4]  
        #print('hello2')
        try:
            tetramerDic[tetramer] += 1
        except KeyError:
            pass

    for key, value in tetramerDic.items():
        tetramerDicRepository[key].append(value)

    if n%50 == 0:
        end = time.time()
        print(f'Till {n} run took {end-begin}')
        begin = time.time()
print('done')

hello1
Till 0 run took 0.0020003318786621094
Till 50 run took 0.038002967834472656
Till 100 run took 0.04000258445739746
Till 150 run took 0.03900289535522461
Till 200 run took 0.03300333023071289
Till 250 run took 0.031001806259155273
Till 300 run took 0.030002355575561523
Till 350 run took 0.02900218963623047
Till 400 run took 0.03100275993347168
Till 450 run took 0.04700469970703125
Till 500 run took 0.03600192070007324
Till 550 run took 0.0370028018951416
Till 600 run took 0.047017812728881836
Till 650 run took 0.03698921203613281
Till 700 run took 0.032012939453125
Till 750 run took 0.029992103576660156
Till 800 run took 0.040008544921875
Till 850 run took 0.04300260543823242
Till 900 run took 0.0390017032623291
Till 950 run took 0.02900218963623047
Till 1000 run took 0.0370025634765625
Till 1050 run took 0.02900242805480957
Till 1100 run took 0.028002262115478516
Till 1150 run took 0.03100275993347168
Till 1200 run took 0.03000044822692871
Till 1250 run took 0.028002262115478516
Till 1300 run took 0.029001235961914062
Till 1350 run took 0.030002355575561523
Till 1400 run took 0.028002262115478516
Till 1450 run took 0.02900242805480957
Till 1500 run took 0.030002593994140625
Till 1550 run took 0.02900218963623047
Till 1600 run took 0.030002355575561523
Till 1650 run took 0.03634834289550781
Till 1700 run took 0.046007633209228516
Till 1750 run took 0.030010461807250977
Till 1800 run took 0.03100299835205078
Till 1850 run took 0.03000473976135254
Till 1900 run took 0.029999494552612305
Till 1950 run took 0.030002593994140625
Till 2000 run took 0.02900218963623047
Till 2050 run took 0.029012680053710938
Till 2100 run took 0.029996633529663086
Till 2150 run took 0.04301309585571289
Till 2200 run took 0.029999256134033203
Till 2250 run took 0.031002521514892578
Till 2300 run took 0.029006481170654297
Till 2350 run took 0.029998064041137695
Till 2400 run took 0.030002832412719727
Till 2450 run took 0.02900242805480957
Till 2500 run took 0.028002023696899414
Till 2550 run took 0.03000617027282715
Till 2600 run took 0.029998779296875
done

In [4]:
print(tetramerDicRepository['AAAC'])

[5, 1, 2, 3, 2, 1, 0, 2, 0, 1, 4, 4, 3, 1, 1, 0, 0, 2, 4, 0, 1, 4, 0, 2, 1, 1, 4, 1, 3, 3, 2, 4, 0, 3, 1, 3, 1, 5, 2, 7, 3, 1, 0, 1, 1, 4, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 3, 1, 4, 0, 0, 2, 3, 3, 3, 3, 2, 0, 0, 4, 3, 1, 2, 2, 1, 1, 2, 6, 1, 2, 2, 2, 2, 2, 1, 1, 0, 2, 0, 0, 1, 4, 4, 2, 1, 4, 3, 2, 5, 3, 0, 3, 1, 1, 0, 2, 2, 1, 2, 1, 2, 4, 3, 1, 0, 0, 1, 1, 0, 0, 1, 1, 2, 2, 2, 4, 3, 0, 4, 5, 4, 1, 2, 3, 2, 1, 2, 3, 3, 3, 3, 4, 2, 2, 1, 4, 1, 2, 4, 4, 2, 3, 2, 3, 0, 1, 4, 0, 1, 0, 2, 4, 2, 5, 2, 0, 4, 0, 2, 0, 2, 0, 1, 1, 0, 2, 2, 1, 1, 3, 3, 1, 0, 0, 1, 2, 0, 3, 2, 2, 1, 4, 1, 4, 2, 1, 4, 1, 0, 1, 0, 1, 3, 0, 2, 5, 1, 0, 3, 2, 4, 2, 0, 3, 1, 0, 4, 0, 4, 3, 1, 3, 2, 0, 2, 3, 1, 3, 3, 2, 2, 1, 1, 1, 2, 2, 1, 1, 4, 3, 3, 4, 1, 2, 1, 0, 3, 0, 0, 1, 1, 3, 4, 1, 2, 6, 7, 2, 4, 5, 5, 1, 4, 2, 1, 6, 0, 0, 1, 5, 5, 2, 2, 1, 5, 2, 3, 1, 1, 0, 4, 4, 3, 3, 1, 2, 0, 4, 0, 3, 4, 1, 4, 2, 3, 2, 1, 0, 2, 2, 0, 4, 0, 1, 1, 4, 2, 4, 1, 3, 4, 3, 4, 1, 4, 5, 1, 1, 1, 3, 1, 2, 2, 0, 1, 3, 2, 3, 1, 1, 3, 0, 6, 0, 0, 1, 1, 3, 2, 3, 5, 2, 1, 1, 5, 3, 4, 2, 3, 0, 2, 0, 4, 1, 1, 2, 2, 1, 1, 3, 1, 1, 3, 1, 2, 1, 1, 2, 4, 0, 0, 5, 2, 2, 3, 3, 4, 2, 4, 3, 1, 1, 3, 1, 1, 3, 1, 2, 0, 1, 1, 2, 2, 0, 2, 0, 4, 5, 2, 1, 2, 2, 5, 2, 2, 5, 1, 3, 2, 2, 4, 2, 0, 1, 1, 7, 0, 1, 3, 1, 2, 3, 1, 2, 1, 0, 1, 0, 1, 3, 0, 1, 1, 1, 3, 1, 0, 0, 1, 1, 4, 9, 2, 3, 3, 3, 2, 0, 3, 2, 1, 2, 2, 1, 0, 1, 0, 1, 1, 2, 3, 1, 2, 2, 5, 2, 4, 4, 10, 4, 1, 2, 5, 5, 4, 2, 3, 2, 1, 1, 3, 2, 2, 1, 1, 3, 2, 1, 0, 0, 1, 0, 1, 3, 3, 3, 1, 0, 3, 1, 1, 0, 0, 1, 2, 3, 5, 0, 2, 1, 3, 3, 0, 3, 5, 1, 1, 1, 6, 2, 1, 4, 4, 4, 1, 2, 2, 2, 1, 5, 2, 1, 7, 1, 3, 1, 0, 0, 1, 3, 0, 0, 1, 1, 0, 2, 2, 4, 6, 1, 1, 3, 1, 3, 1, 0, 3, 0, 1, 1, 3, 3, 1, 1, 2, 4, 6, 1, 0, 0, 3, 1, 1, 2, 1, 3, 1, 2, 1, 4, 2, 1, 5, 5, 3, 3, 2, 3, 0, 2, 4, 4, 0, 2, 1, 4, 2, 2, 3, 1, 4, 2, 1, 2, 2, 1, 0, 1, 0, 3, 2, 2, 2, 1, 2, 1, 4, 2, 2, 0, 1, 3, 2, 6, 3, 1, 0, 4, 1, 1, 2, 0, 4, 1, 2, 2, 5, 5, 3, 2, 2, 3, 0, 4, 3, 3, 1, 0, 1, 0, 1, 0, 2, 1, 0, 2, 1, 1, 1, 0, 3, 0, 1, 1, 3, 0, 1, 2, 2, 1, 1, 0, 1, 0, 4, 1, 2, 4, 5, 3, 4, 4, 1, 1, 3, 1, 2, 1, 2, 2, 2, 3, 0, 3, 1, 0, 0, 5, 2, 3, 0, 1, 0, 0, 2, 0, 0, 3, 4, 4, 3, 5, 3, 1, 1, 1, 2, 0, 3, 0, 4, 3, 0, 3, 2, 1, 2, 2, 2, 1, 3, 3, 3, 4, 2, 2, 3, 6, 2, 0, 0, 4, 0, 3, 0, 0, 1, 5, 5, 0, 3, 0, 0, 1, 1, 3, 4, 1, 2, 4, 4, 2, 3, 5, 1, 0, 3, 2, 2, 7, 2, 1, 1, 1, 0, 0, 2, 1, 3, 4, 7, 1, 1, 1, 1, 1, 1, 2, 5, 1, 1, 3, 2, 1, 1, 3, 2, 1, 5, 2, 3, 2, 1, 2, 0, 2, 0, 5, 3, 0, 2, 3, 3, 3, 0, 4, 4, 5, 2, 2, 2, 2, 2, 6, 4, 1, 2, 4, 0, 1, 1, 0, 2, 1, 0, 3, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 3, 2, 1, 1, 4, 4, 1, 2, 0, 3, 2, 2, 3, 4, 1, 3, 2, 3, 1, 2, 4, 2, 2, 2, 1, 4, 1, 3, 1, 3, 2, 0, 4, 6, 0, 4, 4, 2, 1, 1, 0, 0, 3, 5, 2, 1, 2, 3, 0, 4, 2, 1, 0, 4, 2, 2, 0, 1, 1, 1, 2, 1, 4, 2, 1, 3, 4, 2, 6, 1, 4, 4, 1, 5, 0, 2, 1, 0, 2, 2, 1, 0, 4, 1, 2, 0, 1, 4, 4, 1, 2, 2, 4, 1, 1, 2, 3, 9, 6, 6, 0, 0, 4, 3, 3, 3, 1, 2, 0, 2, 3, 3, 0, 4, 1, 4, 4, 3, 0, 1, 3, 3, 5, 3, 2, 2, 3, 4, 1, 6, 1, 0, 3, 2, 4, 2, 1, 1, 1, 1, 2, 2, 6, 2, 2, 2, 1, 1, 0, 2, 1, 1, 0, 2, 1, 1, 5, 2, 2, 2, 4, 5, 1, 1, 0, 1, 2, 2, 3, 1, 2, 3, 2, 3, 0, 3, 2, 1, 2, 4, 3, 1, 2, 5, 2, 5, 7, 1, 0, 3, 2, 4, 1, 1, 3, 2, 2, 2, 0, 4, 1, 2, 5, 4, 1, 1, 3, 3, 2, 2, 3, 2, 0, 4, 3, 0, 1, 0, 0, 1, 1, 2, 3, 1, 0, 1, 3, 0, 1, 4, 2, 2, 2, 0, 3, 1, 1, 2, 2, 3, 2, 3, 3, 0, 1, 3, 3, 0, 3, 2, 1, 2, 1, 2, 4, 2, 6, 1, 2, 1, 0, 2, 0, 3, 1, 0, 3, 2, 1, 1, 1, 1, 0, 0, 2, 2, 2, 1, 1, 4, 2, 5, 0, 2, 4, 2, 0, 3, 2, 3, 3, 3, 2, 6, 2, 2, 4, 6, 3, 7, 4, 2, 1, 5, 6, 0, 2, 1, 1, 1, 1, 2, 3, 1, 2, 2, 3, 3, 4, 1, 0, 1, 3, 2, 3, 1, 5, 1, 1, 2, 1, 4, 1, 1, 1, 2, 1, 2, 4, 0, 0, 0, 2, 0, 1, 2, 2, 0, 0, 2, 2, 5, 1, 2, 4, 1, 0, 0, 1, 2, 4, 1, 2, 2, 1, 3, 3, 2, 1, 0, 4, 3, 3, 3, 0, 1, 3, 1, 2, 2, 4, 1, 1, 1, 3, 1, 2, 3, 3, 2, 2, 0, 0, 2, 5, 3, 3, 0, 3, 5, 3, 1, 2, 8, 2, 4, 1, 0, 3, 2, 0, 2, 3, 3, 1, 1, 2, 0, 4, 3, 6, 2, 3, 1, 5, 3, 2, 2, 0, 4, 1, 2, 0, 0, 0, 2, 3, 2, 1, 0, 0, 3, 3, 2, 2, 5, 3, 6, 4, 1, 2, 0, 1, 3, 1, 1, 4, 2, 0, 2, 2, 1, 0, 5, 1, 1, 5, 1, 4, 3, 2, 0, 1, 4, 1, 0, 4, 3, 4, 2, 2, 4, 1, 4, 1, 1, 0, 1, 2, 3, 1, 3, 1, 2, 1, 0, 3, 1, 5, 1, 1, 3, 1, 1, 3, 1, 0, 2, 3, 3, 5, 7, 5, 2, 2, 2, 4, 1, 2, 2, 1, 2, 2, 5, 1, 1, 4, 1, 0, 1, 0, 5, 2, 4, 6, 3, 2, 1, 3, 1, 3, 2, 1, 2, 0, 3, 1, 0, 0, 6, 3, 1, 2, 2, 2, 2, 1, 1, 4, 3, 0, 3, 3, 1, 3, 5, 2, 2, 1, 2, 3, 1, 2, 1, 4, 3, 0, 1, 2, 1, 5, 2, 2, 0, 3, 4, 0, 1, 1, 2, 3, 1, 1, 0, 3, 4, 2, 4, 2, 4, 1, 3, 2, 3, 0, 1, 6, 2, 3, 2, 4, 1, 2, 2, 1, 5, 0, 2, 1, 2, 1, 4, 4, 0, 2, 1, 3, 0, 2, 4, 1, 0, 3, 2, 2, 3, 4, 1, 0, 4, 4, 3, 2, 0, 2, 1, 1, 3, 1, 3, 1, 1, 4, 2, 2, 2, 2, 5, 1, 1, 3, 1, 1, 1, 5, 2, 3, 5, 2, 0, 1, 0, 1, 1, 2, 3, 3, 2, 2, 2, 2, 2, 2, 6, 3, 2, 4, 2, 1, 3, 3, 1, 1, 2, 2, 0, 0, 0, 2, 3, 1, 2, 3, 2, 1, 1, 1, 1, 0, 7, 2, 1, 2, 1, 6, 4, 4, 3, 1, 3, 1, 1, 1, 1, 3, 3, 3, 2, 9, 2, 0, 1, 4, 3, 3, 0, 0, 2, 4, 1, 2, 3, 1, 4, 3, 3, 1, 3, 2, 3, 3, 3, 2, 3, 3, 0, 2, 2, 1, 3, 1, 3, 3, 3, 5, 1, 1, 3, 1, 3, 3, 2, 1, 1, 2, 2, 3, 1, 1, 5, 4, 0, 2, 2, 2, 4, 3, 3, 2, 1, 2, 1, 0, 2, 1, 0, 1, 2, 1, 1, 0, 1, 5, 1, 1, 4, 4, 2, 6, 3, 1, 4, 2, 3, 1, 1, 2, 3, 4, 3, 3, 3, 5, 2, 2, 0, 6, 2, 1, 2, 2, 3, 3, 3, 0, 2, 1, 2, 3, 0, 4, 3, 0, 1, 2, 0, 1, 2, 2, 2, 4, 4, 4, 3, 0, 6, 1, 4, 1, 0, 2, 1, 1, 2, 1, 2, 0, 2, 1, 0, 1, 3, 2, 2, 3, 1, 1, 7, 4, 5, 3, 0, 1, 1, 1, 3, 2, 1, 0, 2, 1, 2, 1, 3, 3, 0, 2, 1, 3, 5, 1, 5, 3, 1, 1, 2, 0, 3, 1, 1, 2, 2, 6, 1, 1, 0, 2, 6, 3, 4, 0, 5, 3, 3, 2, 1, 2, 1, 2, 0, 0, 1, 2, 7, 4, 1, 4, 1, 0, 2, 1, 0, 3, 2, 4, 1, 1, 3, 2, 3, 0, 2, 1, 4, 1, 0, 0, 3, 2, 5, 1, 2, 1, 1, 5, 1, 1, 2, 2, 1, 1, 3, 0, 1, 2, 0, 0, 3, 2, 0, 1, 0, 1, 0, 1, 1, 2, 3, 0, 3, 1, 2, 4, 5, 3, 0, 1, 3, 4, 6, 4, 2, 4, 2, 2, 2, 2, 1, 1, 5, 1, 1, 1, 2, 1, 2, 4, 1, 3, 2, 3, 1, 4, 2, 0, 1, 2, 1, 2, 1, 3, 1, 1, 1, 1, 1, 0, 1, 3, 3, 0, 2, 3, 3, 1, 3, 2, 2, 3, 0, 2, 0, 2, 1, 3, 5, 0, 2, 3, 0, 3, 1, 1, 3, 2, 0, 0, 1, 0, 2, 4, 6, 4, 5, 1, 0, 2, 1, 3, 1, 0, 0, 5, 7, 2, 2, 3, 1, 2, 0, 3, 0, 4, 4, 2, 1, 1, 1, 1, 2, 5, 2, 6, 0, 0, 1, 3, 5, 2, 2, 2, 1, 2, 0, 1, 2, 2, 2, 1, 5, 1, 2, 1, 3, 0, 0, 2, 2, 0, 1, 1, 0, 4, 2, 2, 3, 3, 5, 2, 1, 3, 3, 2, 5, 5, 1, 2, 2, 1, 1, 2, 3, 4, 0, 5, 3, 2, 2, 1, 3, 3, 5, 0, 1, 2, 3, 1, 3, 3, 1, 2, 1, 0, 5, 3, 0, 2, 3, 0, 2, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 3, 4, 3, 3, 1, 4, 1, 2, 0, 1, 1, 0, 2, 1, 0, 1, 1, 3, 0, 1, 3, 5, 1, 3, 2, 1, 3, 3, 2, 0, 2, 2, 3, 3, 1, 4, 5, 2, 0, 3, 2, 2, 3, 2, 1, 2, 1, 0, 0, 2, 2, 3, 12, 5, 3, 1, 0, 3, 0, 4, 4, 3, 4, 3, 5, 3, 0, 1, 5, 3, 0, 3, 1, 3, 2, 0, 1, 2, 0, 3, 3, 3, 1, 1, 1, 4, 3, 2, 1, 1, 1, 1, 0, 0, 0, 4, 0, 3, 2, 0, 0, 1, 2, 0, 3, 2, 3, 1, 3, 4, 3, 1, 1, 3, 1, 0, 0, 2, 5, 1, 1, 0, 0, 2, 1, 3, 4, 5, 2, 5, 3, 2, 0, 3, 4, 0, 2, 4, 2, 3, 1, 0, 2, 0, 2, 3, 4, 0, 5, 3, 1, 2, 1, 1, 1, 0, 3, 3, 0, 1, 1, 6, 4, 2, 0, 1, 2, 1, 2, 3, 5, 1, 1, 2, 1, 3, 1, 1, 5, 5, 2, 0, 2, 2, 3, 3, 0, 2, 4, 1, 3, 1, 4, 4, 3, 2, 1, 1, 2, 1, 2, 0, 2, 0, 1, 3, 1, 4, 1, 3, 0, 2, 1, 4, 0, 2, 1, 3, 2, 2, 1, 0, 6, 2, 6, 7, 4, 0, 0, 3, 2, 1, 0, 4, 3, 2, 4, 2, 0, 1, 1, 1, 3, 2, 1, 2, 2, 4, 2, 2, 1, 1, 7, 2, 1, 4, 3, 3, 4, 0, 2, 0, 4, 0, 3, 1, 1, 1, 1, 0, 2, 3, 0, 2, 4, 1, 2, 0, 2, 3, 1, 2, 0, 0, 2, 1, 1, 5, 4, 0, 1, 2, 5, 1, 4, 2, 0, 0, 4, 2, 2, 0, 3, 1, 1, 1, 5, 2, 1, 4, 2, 1, 0, 2, 1, 4, 2, 0, 3, 5, 6, 18, 4, 10, 1, 2, 1, 10, 3, 16, 0, 1, 6, 2, 3, 2, 4, 2, 5, 0, 0, 5, 3, 0, 0, 1, 5, 4, 3, 2, 1, 1, 2, 6, 1, 3, 2, 5, 1, 1, 2, 2, 4, 2, 1, 2, 2, 2, 2, 2, 0, 1, 1, 2, 4, 2, 0, 2, 3, 3, 1, 1, 0, 0, 1, 1, 0, 2, 0, 1, 2, 0, 3, 0, 2, 2, 4, 1, 1, 5, 1, 4, 4, 2, 1, 1, 2, 2, 3, 5, 1, 3, 0, 2, 3, 3, 1, 1, 1, 4, 3, 4, 2, 7, 4, 1, 1, 5, 3, 1, 1, 0, 0, 5, 0, 0, 0, 2, 4, 4, 2, 1, 4, 1, 2, 2, 4, 0, 0, 3, 0, 0, 0, 1, 6, 2, 0, 2, 0, 1, 2, 3, 2, 0, 2, 4, 3, 3, 1, 3, 4, 1, 2, 2, 7, 6, 0, 2, 1, 2, 3, 0, 1, 0, 1, 2, 4, 2, 2, 4, 4, 0, 1, 2, 4, 2, 4, 3, 7, 5, 5, 1, 1, 1, 1, 0, 1, 2, 4, 2, 1, 2, 1, 5, 5, 3, 0, 6, 2, 2, 3, 2, 0, 3, 2, 1, 1, 2, 3, 0, 3, 2, 2, 0, 2, 4, 2, 0, 2, 3, 1, 0, 1, 3, 2, 3, 1, 1, 4, 1, 0, 3, 3, 5, 5, 2, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 2, 0, 1, 2, 3, 3, 2, 1, 3, 2, 1, 1, 4, 1, 5, 4, 5, 1, 0, 0, 0, 1, 8, 0, 7, 1, 3, 3, 4, 1, 2, 2, 2, 3, 0, 3, 0]

In [5]:
# on command line write
#     pip install pandas

# Write this and give it your dictionary (hope the shape is as expected)
import pandas as pd
tetramerDic = tetramerDicRepository
# should be shaped like
#     {'AAAA':[num,num,num...], 
#      'AAAT':[num,num,num...], ... }

df = pd.DataFrame(data=tetramerDic)
df.to_csv('give_to_matthew_plz.csv',index=False)

In [6]:
df.head()

,AAAA,AAAC,AAAG,AAAT,AACA,AACC,AACG,AACT,AAGA,AAGC,...,TTCG,TTCT,TTGA,TTGC,TTGG,TTGT,TTTA,TTTC,TTTG,TTTT
0,0,5,0,0,2,8,2,3,3,3,...,3,2,2,4,1,2,1,4,1,2
1,0,1,0,1,2,6,3,0,2,3,...,3,5,4,3,0,0,0,8,2,5
2,5,2,1,4,3,3,5,0,0,4,...,4,5,0,2,2,0,1,2,1,2
3,9,3,3,1,4,4,7,4,4,4,...,6,2,4,4,2,1,2,6,0,3
4,1,2,2,2,3,4,5,1,7,3,...,3,0,4,2,2,1,0,0,6,3

In [7]:
sums = df.sum()
df_freq = df.loc[:,'AAAA':'TTTT'].div(sums, axis=1)

In [8]:
sums

AAAA    7224
AAAC    5445
AAAG    6892
AAAT    3625
AACA    5246
        ...
TTGT    3489
TTTA    1845
TTTC    8835
TTTG    5446
TTTT    7099
Length: 256, dtype: int64

In [9]:
df_freq.head()

,AAAA,AAAC,AAAG,AAAT,AACA,AACC,AACG,AACT,AAGA,AAGC,...,TTCG,TTCT,TTGA,TTGC,TTGG,TTGT,TTTA,TTTC,TTTG,TTTT
0,0.000000,0.000918,0.000000,0.000000,0.000381,0.001303,0.000265,0.000493,0.000520,0.000316,...,0.000244,0.000339,0.000312,0.000398,0.000185,0.000573,0.000542,0.000453,0.000184,0.000282
1,0.000000,0.000184,0.000000,0.000276,0.000381,0.000977,0.000398,0.000000,0.000347,0.000316,...,0.000244,0.000847,0.000624,0.000299,0.000000,0.000000,0.000000,0.000905,0.000367,0.000704
2,0.000692,0.000367,0.000145,0.001103,0.000572,0.000489,0.000663,0.000000,0.000000,0.000421,...,0.000325,0.000847,0.000000,0.000199,0.000369,0.000000,0.000542,0.000226,0.000184,0.000282
3,0.001246,0.000551,0.000435,0.000276,0.000762,0.000652,0.000928,0.000657,0.000694,0.000421,...,0.000487,0.000339,0.000624,0.000398,0.000369,0.000287,0.001084,0.000679,0.000000,0.000423
4,0.000138,0.000367,0.000290,0.000552,0.000572,0.000652,0.000663,0.000164,0.001214,0.000316,...,0.000244,0.000000,0.000624,0.000199,0.000369,0.000287,0.000000,0.000000,0.001102,0.000423

In [10]:
df_freq.to_csv('tetraFrequency.csv',index=False)